* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: top;
	font-family: inherit;
	outline: none;
}
html {
	font: 400 15px/20px Lato, sans-serif;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	overflow-y: scroll;
}
html, body { margin: 0; }

input, button, select, textarea { font: inherit; }
input, button, select, textarea { margin: 5px; }
input, button, select { height: 40px; }
input, select, textarea { padding: 10px; flex-grow: 1; }
button { padding: 7px; cursor: pointer; }
button[disabled] { cursor: default; }
h1, h2, h3, h4, h5, h6 { flex-grow: 1; }
h1, h2, h3, h4, h5, h6, p, span { margin: 5px; align-self: center; }
span { display: inline-block; }
h1 { display: block; color: #da2a27; }
header { width: 100%; }

.Row { display: flex; flex-direction: row; }
.Column { display: flex; flex-direction: column; }
.Spacer { flex-grow: 1; flex-basis: 0; }
.App {
	max-width: 1300px;
	margin: 150px auto;
	top: 0;
	left: 0; right: 0;
}

.SearchInput { width: auto; }

.Membership { height: 60px; padding: 5px 0; }
.Membership:not(:first-child) { border-top: 1px solid #ccc; margin-top: -1px; }
.Membership.expired { color: #da2a27; }
.Cell.Person { width: 60px; }
.Cell.Name { width: 160px; }
.Cell.Note { text-align: right; }
.Cell.Loyalty { text-align: right; width: 40px; }

/*.Column {
	display: flex; flex-direction: column;
	width: 50%; border-left: 1px solid #ccc; margin-left: -1px;
}
.Header {
	display: flex; flex-direction: row; flex-shrink: 0;
	border-bottom: 1px solid #ccc; margin-bottom: -1px;
	height: 60px; padding: 5px;
}
.Header input { flex-grow: 0; width: 50%; }
.TodoHeader { justify-content: end; }
.List { flex-grow: 0; flex-shrink: 0; overflow-y: scroll; flex-basis: calc(100vh - 60px); }

.Todos>center { margin: 20px; }

.Membership.filtered {
	margin-bottom: -111px;
	opacity: 0;
	visibility: collapse;
}
.Membership.expired { background-color: #f4cccc; }
.Membership { border-top: 1px solid #ccc; margin-top: -1px; }

.Cell { display: inline-block; }
.Cell.Buttons { flex-shrink: 0; margin-left: auto; }
.Text { display: inline-block; padding: 5px; align-self: center; }

.Row { display: flex; flex-direction: row; align-items: center; height: 50px; }
.Membership { padding: 5px; }

/*.Screen {
	display: flex; flex-direction: column;
	position: absolute; max-width: 650px; margin: 200px auto;
	left: 0; right: 0;
	top: 0; bottom: 0;
}

.SquareButton { width: 110px; height: 110px; }
.SquareButton.Large { width: 240px; height: 240px; }
.SquareButton .Emoji { display: block; font-size: 25px; line-height: 50px; }
.SquareButton.Large .Emoji { font-size: 50px; line-height: 120px; }
.BackButton { border: 0; background-color: transparent; width: 40px; min-width: auto; margin: -10px 10px -10px -50px; color: inherit; }

.FlexRow { display: flex; flex-direction: row; }
.FlexColumn { display: flex; flex-direction: column; }

.Topbar {
	position: fixed;
	top: 0; left: 0; right: 0;
	padding-top: 70px;
	height: 110px;
	border-bottom: 1px solid #bbb;
	background-color: #fff;
}
.SearchBox {
	position: absolute;
	top: 0; left: 0;
	display: flex;
	justify-content: center;
	margin: 10px;
}
.SearchBox span { padding: 15px; }
.Indicator {
	position: absolute;
	top: 0; bottom: 0;
	right: 0; height: 30px;
	margin: 10px;
}
.IndicatorLoading {
	display: inline-block;
	padding: 5px 0;
	margin: 10px;
}
.Search {
	padding-top: 110px;
	padding-bottom: 210px;
}
.Head { font-weight: bold; }
.Row, .Head {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.Row, .Head {
	border-top: 1px solid #bbb;
	margin-top: -1px;
}
.PersonRow:not(.Head) {
	min-height: 60px;
}
form.Cell { padding: 5px; }
span.Cell { min-height: 40px; padding: 10px; cursor: text; }
button.Cell { flex-basis: max-content; flex-shrink: 0; padding: 0 3px; margin: 5px 3px; }
.Cell input { width: 100%; margin: 0; }
.Cell[sheet=people][column=name] { width: 170px; }
.Cell[sheet=people][column=phone] { width: 110px; }
.Cell[sheet=people][column=note] { flex-basis: 0; flex-grow: 1; }
.Cell[sheet=people][column=memberships] {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	align-self: stretch;
}
.Row[sheet=memberships] { height: 100%; width: 880px; }
.Row[sheet=memberships]:first-child { background-color: #f4cccc; }
.Row[sheet=memberships]:first-child[current] { background-color: #d9ead3; }
.Head .Row[sheet=memberships] { background-color: transparent; }
.Cell[sheet=memberships][column=plan] { width: 140px; }
.Cell[sheet=memberships][column=start] { width: 105px; }
.Cell[sheet=memberships][column=end] { width: 105px; }
.Cell[sheet=memberships][column=renewal] { width: 75px; }
.Cell[sheet=memberships][column=checkin] { width: 170px; flex-basis: auto; }
.Cell[sheet=memberships][column=note] { flex-basis: 0; flex-grow: 1; }*/

.ModalOverlay {
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	background-color: #fff;
	opacity: 0.6;
	z-index: 4;
}
.Modal {
	position: fixed;
	left: 0; right: 0;
	margin: 0 auto;
	width: 350px;
	padding: 24px;
	border: 1px solid #bbb;
	background-color: #fff;
	z-index: 4;
}
.Modal.hidden, .ModalOverlay.hidden {
	display: none;
}

label { display: block; margin: 5px; }
input[type=radio] { height: auto; }

.Signing {
	margin: 50px 0;
	min-width: 8.5in;
	position: absolute;
	top: 0;
	left: 0; right: 0;
	z-index: 3;
	background-color: #fff;
}
.Signing > article { position: relative; width: 8.5in; height: 11in; margin: 0 auto; }
.Signing > article > canvas { width: 100%; height: 100%; }
.Signing label { position: absolute; margin: 0; border-bottom: 0.03in solid #da2a27; }
.Signing label > canvas { position: absolute; top: -200%; left: -50%; width: 250%; height: 500%; }
.Signing label > input { border: 0; background-color: transparent; width: calc(100% + 0.4in); height: calc(100% + 0.4in); padding: 0.2in 0.21in; margin: -0.2in; }
.Signing label > .warning { position: absolute; left: 100%; color: #da2a27; white-space: pre; margin: 0; }
